/* 本地字体引入 */
@font-face{
    font-family: "title";
    src:url("./font/标题/title.TTF")
  }
@font-face{
    font-family: "UniversLTStd";
    src:url("./font/正文/Univers/UniversLTStd.otf")
}
@font-face{
    font-family: "汉仪旗黑";
    src:url("./font/正文/汉仪旗黑/汉仪旗黑-50S.otf")
}

html{
    font-size: calc(5px + 0.25vw);  /* 基准大小为5px，并根据视口宽度动态增加 */
    scroll-padding-top: (2.5rem);
}

/* Light Theme */
:root {
    --primary-color: #ffffff;
    --secondary-color: #001C28;
    --link-color: #7a1723;
    --link-hover-color: #001C28;
    --bg-color:linear-gradient(#ffffff,#e2fff5,#e2fff5, #a5f6e7);
    --text-color: #f5f5f5;
}
body {
    background-image: var(--bg-color);
    color:var(--secondary-color) ;
    font-family: "UniversLTStd","汉仪旗黑",'Times New Roman', Times, serif;
}
/* Dark Theme */
body.dark-theme {
    --primary-color:#001C28; 
    --secondary-color: #ffffff;
    --bg-color: linear-gradient(#001C28,#114261);
    --link-color: #7a1723;
    --link-hover-color: #ffffff;
    background-color: var(--bg-color);
}


/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.7s;  /* 平滑过渡效果 */
    background-color: transparent !important;  /* 初始透明背景 */ 
    z-index: 1000;
}

.navbar-scrolled  {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important; 
}

/* top处 logo位置右移，下移 */
.logo{
    transition: all 0.3s;  /* 平滑过渡效果 */
    position: relative;
    width: 20rem;
    height: 10rem;
    left: 18%
    /* top: 2rem; */
}

/* 汉堡菜单 左移2rem,大小8rem */
.menu-icon {
    width: 8rem;
    height: 8rem;

    margin-right: 2rem;
    fill: #001C28;
}
body.dark-theme .menu-icon {
    fill:#00C2B3;
}
/* 默认显示亮色logo，       隐藏暗色logo */
.logo.light-logo {
    display: block;
}
.logo.dark-logo {
    display: none;
}

/* 当body有.dark-theme类时，切换显示的logo */
body.dark-theme .logo.light-logo {
    display: none;
}
body.dark-theme .logo.dark-logo {
    display: block;
}

/* 导航栏链接 */

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    right:8rem;
    user-select: none;
    font-family: "UniversLTStd","汉仪旗黑" !important;
}

.nav-link {
    color:#114261 !important; 
    position: relative;
    font-family: "UniversLTStd","汉仪旗黑" !important;
    
}
body.dark-theme .nav-link{
    color:  #00C2B3 !important; 
    position: relative;
}


.nav-link:hover {
    color:#00C2B3 !important;
    text-decoration: none !important; /* 移除Bootstrap默认的下划线 */
    
}
body.dark-theme .nav-link:hover{
    color: #ffffff !important; 
    position: relative;
}
.nav-link:hover::after {
    content: ''; /* 添加下划线效果 */
    position: absolute;
    bottom: -3px; /* 位于链接下方3px处 */
    left: 50%; /* 使下划线居中 */
    transform: translateX(-50%); /* 使下划线居中 */
    width: 50%; /* 下划线占据链接文本长度的50% */
    height: 2px; /* 下划线的高度 */
    background-color: #00C2B3; /* 下划线的颜色 */
}
body.dark-theme .nav-link:hover::after{
    content: ''; /* 添加下划线效果 */
    position: absolute;
    bottom: -3px; /* 位于链接下方3px处 */
    left: 50%; /* 使下划线居中 */
    transform: translateX(-50%); /* 使下划线居中 */
    width: 50%; /* 下划线占据链接文本长度的50% */
    height: 2px; /* 下划线的高度 */
    background-color: #ffffff; /* 下划线的颜色 */
}

/* 移除按钮的边框和背景 */
.theme-toggle, .lang-toggle {
    background: none;
    border: none;
    cursor: pointer;
}
.moon {
    width: 4rem;
    height: 4rem;
}
.moon:hover path {
    fill: #00C2B3 ;
}
.moon path {
    fill: #114261  ;
}

.sun {
    width: 4rem;
    height: 4rem;
}
.sun path {
    fill: #00C2B3 ;
}
.sun:hover path {
    fill: #ffffff  ;
}

.translate-icon {
    width: 4rem;
    height: 4rem;
}
.translate-icon path {
    fill: #114261  ;
}

/* 翻译图标的hover颜色切换 */
.translate-icon:hover path{
    /* filter: brightness(0.5); /* 使图标变暗， */ 
    fill: #00C2B3
}


/* 暗主题 */
body.dark-theme .translate-icon path {
    fill: #00C2B3;
}

/* 暗主题 翻译图标的hover颜色切换 */
body.dark-theme .translate-icon:hover path{
    fill: #ffffff;
}

/* 设置图标的颜色 */
.theme-toggle, .lang-toggle, .navbar-toggler-icon {
    color: #00C2B3;
}

/* hover状态下的颜色为黑色 */
.theme-toggle:hover, .lang-toggle:hover, .navbar-toggler-icon:hover {
    color: #114261;
}

/* 链接 hover下划线 */
a {
    position: relative;
    font-size: 3rem;
    text-decoration:none;
    font-weight: 600;
    color: var(--link-color);
    font-family: "title","UniversLTStd","汉仪旗黑" !important;
}
a:before {
    content: "";
    position: relative;
    bottom: -0.2rem;
    height: 0.6rem;
    width: 0;
    background: #00C2B3;
    border-radius: 5rem;
    transition: width .3s ease;
}

a:hover {
    color: var(--link-hover-color);
}


/* home-page */

/* 图片层 */
.image-layer {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* 视窗高度 */
    z-index: 2;
}
.image-flow {
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
/* 首页 头图 */
.home-top{
    background: url('./img/bg1.png') center center / cover no-repeat; /* 响应式背景图片 */
}
.home-demo {
    height: 100vh;
    
}
/* 首页 云框 */
.home-cloud {
    position: absolute;
    top: 0;
    left: 0;
    height: 105vh;
    z-index: 10;
}
.home-p-scroll {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    top:95vh;
    color :#a5f6e7;
    justify-content: center;
    z-index: 100;

}
/* home page */
.home-page4 {
    width: 10%; /* 调整图片宽度 */
    height: auto; /* 保持纵横比 */
    display: flex;
    justify-content: flex-end;
}



/* 概述 头图 */
.description-top {
background: url('./img/bg3.jpg') center center / cover no-repeat; /* 响应式背景图片 */
}

body.dark-theme .image-layer{
filter: brightness(0.7);
}
/* 云彩层 */
.cloud-layer {
    position: relative;
    left: -14rem;
    width:  100vw;
    fill: #ffffff;

}
.cloud-layer-b {
    position: absolute;
    z-index: 2; /* 设置层级 */
    top: 98vh;
    fill: #ffffff;
}
.cloud {
    width:  100vw;
    height: 30rem;
    border-radius: 50%;
    bottom: 0;
    left: -10rem;
  }
  
  #cloud-base {
    height: 10rem;
    width:  100vw;
    filter: url(#filter-base);
    box-shadow: 20rem 17rem 1.9rem 4rem rgba(255, 255, 255, 0.9);
  }
  #cloud-back {
    height: 3rem;
    width:  100vw;
    filter: url(#filter-back);
    box-shadow: 20rem 20rem 1rem 4rem rgba(215, 215, 215, 0.3);
  }
  
  #cloud-mid {
    width:  100vw;
    height: 3.5rem;
    filter: url(#filter-mid);
    box-shadow: 21rem 25rem 2.8rem 3rem rgba(66, 105, 146, 0.2);
  }
  
  #cloud-front {
    width:  100vw;
    height: 4rem;
    left: -2rem;
    filter: url(#filter-front);
    box-shadow: 21rem 27.2rem 3rem 0rem rgba(0, 0, 0, 0.4);
  }
body.dark-theme  #cloud-base {
    box-shadow: 20rem 17rem 1.9rem 4rem rgba(215, 215, 215, 0.3);
}
body.dark-theme  #cloud-back {
    box-shadow: 20rem 20rem 1rem 4rem rgba(0, 0, 0, 0.4);
}
.text-layer {
    padding-top: 10rem;
    position: relative;
    z-index: 1;
    font-family: "UniversLTStd","汉仪旗黑",'Times New Roman', Times, serif;
}
#sidebar {
  position: sticky; /* 固定定位，始终在屏幕右侧 */
  width: 20rem;
  left: 85%; /* 置于屏幕右侧 */
  top: 40vh; /* 垂直居中 */
  transform: translateY(-50%); /* 用于垂直居中 */
  background-color: #001C28; /* 侧边栏背景色 */
  padding: 2rem; /* 内边距 */
  border-radius: 3rem; /* 圆角形状 */
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  overflow-y:hidden;
  z-index: 1; 
}
body.dark-theme #sidebar {

}
#sidebar p {
  text-align: center; /* 标题居中 */
  margin-bottom: 1rem; /* 与下方链接的间距 */
  color:#00C2B3
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar li {
  text-align: center; /* 列表项居中 */
}

#sidebar a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 600;
  padding: 1.5rem;
  color: var(--link-color);
  font-family: "title", "UniversLTStd", "汉仪旗黑" !important;
  display: block; /* 使链接成块显示，更易点击 */
}

#sidebar a:hover {
  color: var(--link-hover-color);
}

/* 响应式设计，屏幕宽度小于600px时，侧边栏不显示 */
@media (max-width: 600px) {
  #sidebar {
    display: none;
  }
}


#sideba a:before {
    content: "";
    position: relative;
    bottom: -0.2rem;
    height: 0.6rem;
    width: 0;
    background: #00C2B3;
    border-radius: 5rem;
    transition: width .3s ease;
}


h1,h2,h3,h4,h5,h6 {
    font-family: "title","汉仪旗黑","UniverLTStd",'Times New Roman', Times, serif;
    color:#01515A;
    font-weight: 500;
}
h2 {
    font-size:5rem;
    letter-spacing: 0.5rem;
}
body.dark-theme h2 {
    color:#e2fff5;
}
/* #26B5A4 */
p{    
    font-family: "UniversLTStd","汉仪旗黑",'Times New Roman', Times, serif;
    font-size: 3rem;
    word-spacing: 1rem;
    padding: 3rem;
    color: #26B5A4;
    font-weight: 300;
}
body.dark-theme p {
    color:#26B5A4 
}
.row {
    padding-top: 20rem;
    width: 100vw;
}

.right-aligned-text {
    text-align: right;

}
.left-aligned-text {
    text-align: left;

}
.center-aligned-text {
    text-align: center;

}

/* footer */
 /* 波浪特效 */
 .footer-header {
    position: relative;
    text-align: center;
    background:linear-gradient(#ffffff,#e2fff5,#e2fff5, #a5f6e7);
}
 
 
.footer-waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

/* Animation */
 
.footer-parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.footer-parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.footer-parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.footer-parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.footer-parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}